@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	/* colors */
	--color-bg: #121212;
	--color-text: #e0e0e0;
	--color-accent: #00d9ff;
	--color-accent-hover: #00aeff;
	--color-heading: #e0e0e0;
	--color-muted: #d4d4d4;

	/* font */
	--font-main: 'JetBrains Mono', monospace;
	--font-size-base: 16px;
	--line-height-base: 1.6;

	/* spacing */
	--padding-body: 20px;
	--margin-heading-bottom: 30px;
	--margin-post-bottom: 10px;
	--margin-time-bottom: 5px;
	--page-max-width: 100%;

	/* link underline */
	--underline-height: 2px;
	--underline-transition: transform 0.3s ease;

	/* img */
	--img_max_size: 500px;
}


body {
	background-color: var(--color-bg);
	color: var(--color-text);
	font-family: var(--font-main);
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
	padding: var(--padding-body);
	max-width: var(--page-max-width);
	margin: 0;
}


h1,
h2,
h3 {
	font-style: 'Inter';
	color: var(--color-heading);
	margin-bottom: var(--margin-heading-bottom);
}

img {
	max-height:  var(--img_max_size);
}

a {
	position: relative;
	color: var(--color-accent);
	text-decoration: none;
	transition: color 0.3s ease;
}

a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: var(--underline-height);
	width: 100%;
	background-color: var(--color-accent-hover);
	transform: scaleX(0);
	transform-origin: left;
	transition: var(--underline-transition);
}

a:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

a:not(:hover)::after {
	transform: scaleX(0);
	transform-origin: right;
}

pre {
	background-color: #1e1e1e;
	color: #ffffff;
	padding: 1em;
	overflow-x: auto;
	font-family: 'JetBrains Mono', monospace;
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 20px;
}
